<a href="https://colab.research.google.com/github/akshay-bankar/AI-Architect/blob/main/customer_transaction_analysis_create_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Create Sample Dataset for Customer Transaction Analysis**

**Import libs**

In [22]:
import numpy as np
import pandas as pd
import random

**Generate random customer IDs**

In [23]:
customer_ids = np.random.randint(100000, 999999, size=10000)
print(customer_ids.size)

10000

**Generate random dates between January 1, 2023, and December 31, 2023**

In [35]:
dates = pd.date_range(start='2023-01-01', end='2023-12-31').to_list()
transaction_dates = random.choices(dates, k=10000)
print(f"{transaction_dates[0]} -- {transaction_dates[9999]}")

2023-01-01 00:00:00
2023-04-24 00:00:00 -- 2023-07-14 00:00:00

**Generate random product categories**

In [36]:
# Define product categories
product_categories = ['Electronics', 'Clothing', 'Groceries', 'Furniture', 'Toys']
transaction_categories = random.choices(product_categories, k=10000)
print(f"{transaction_categories[0]} -- {transaction_categories[9999]}")

Toys -- Electronics

**Generate random transaction amounts**

In [38]:
amounts = np.random.uniform(10, 1000, size=10000)
transaction_amounts = np.round(amounts, decimals=2)
print(f"{transaction_amounts[0]} -- {transaction_amounts[9999]}")

258.93 -- 259.13

**Generate random cities**

In [39]:
cities = ['Mumbai', 'Delhi', 'Bangalore', 'Kolkata', 'Pune']
transaction_cities = random.choices(cities, k=10000)
print(f"{transaction_cities[0]} -- {transaction_cities[9999]}")

Kolkata -- Mumbai

**Create dataframe**

In [42]:
data = {
    'customer_id': customer_ids,
    'transaction_date': transaction_dates,
    'product_category': transaction_categories,
    'amount': transaction_amounts,
    'city': transaction_cities
}

df = pd.DataFrame(data)

print(df.head())

   customer_id transaction_date product_category  amount       city
0       753124       2023-04-24             Toys  258.93    Kolkata
1       193424       2023-02-25      Electronics  421.81      Delhi
2       257425       2023-12-19             Toys   94.18  Bangalore
3       234419       2023-05-29        Furniture  925.55       Pune
4       801295       2023-11-18             Toys  543.99  Bangalore